<%= form_for(@therapist) do |f| %>
  <% if @therapist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@therapist.errors.count, "error") %> prohibited this therapist from being saved:</h2>

      <ul>
      <% @therapist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><label for="therapist_name">Name</label><br/>
  <%= text_field 'therapist', 'name'  %></p>

  <p><label for="therapist_type">Type</label><br/>
  <select id='therapist_type', name='therapist[type]'>
    <option value="PhysicalTherapist">PT</option>
    <option value="OccupationalTherapist">OT</option>
  </select>
  </p>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
